
:root {
    --color: #EE7879; 
    --color2: #2A3166;
    --color3: #F4ABAA; 
    --color4: #4982cc;
}
main{
    background-color: var(--color2); 
    color: white;
   
}
header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--color4)
}

.projhead {
   text-align: center; 
}
h2{
   justify-content: center;
}
.projdetail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.contactme{
    text-align: center;
    padding: 10 px;
    margin-left: auto;
    margin-right: auto;
}
.img{
    width: 50px;
    height: 50px;
}
footer{
    display: flex;
    text-align: center;
    background-color: var(--color);
}
h4{
    text-align: center;
}
@media screen and (min-width: 768px) {
    .projdetail{
      flex: 0 0 50%;
    max-width: 50%;   
}   
    }
   
@media screen and (max-width: 992px){
    .projdetail{
        flex: 0 0 33%;
        max-width: 33%;   
    }
     
}